# IDE
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# dotenv environment variables file
.env

# Output files
dist
*.d.ts
*.map
*.tsbuildinfo

# Config file
src/config/development\.json

# Meta
.DS_Store
