{{#> main }}

	<section class="columns" id="step1">
		<div class="column is-half is-offset-one-quarter">
			{{!-- <i class="fas fa-user-astronaut"></i> --}}
			<h1 class="title">An application would like to connect to your account</h1>
			<p>The app <strong>{{appName}}</strong> would like to use your HackGT account to authenticate you.</p>
			<p>By allowing this, <strong>{{appName}}</strong> will receive your name and email address.</p>
			<br />

			<form class="field is-grouped is-grouped-centered" action="/oauth/authorize/decision" method="POST">
				<input type="hidden" name="transaction_id" value="{{transactionID}}" />
				<p class="control">
					<input type="submit" class="button is-danger is-outline" value="Cancel" name="cancel" />
					<input type="submit" class="button is-success is-outline" value="Allow" />
				</p>
			</form>
		</div>
	</section>
{{/main}}
