<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reset Password - HackGT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/css/wing.min.css" />
		<link rel="stylesheet" href="/css/login.css" />
	</head>
	<body>
		<div class="container">
			<h1 class="center">HackGT</h1>

			<section id="error">{{error}}</section>
			<section id="success">{{success}}</section>
			<div class="row">
				<div class="col-12 text-center">
					<h3>Reset your password</h3>
					<p>Enter your email address and we'll send you a link to reset your password.</p>
					<form action="/auth/forgot" method="POST">
						<input type="email" name="email" placeholder="Email" required />
						<input type="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
