html, body {
	margin: 0;
	font-family: "Barlow";
	background-color: #212121;
	color: white;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.label, .title, strong {
	color: white;
}
.subtitle {
	color: rgba(255, 255, 255, 0.5);
}

body > .container {
	padding: 15px;
}
.hero-body {
	background-color: #151515;
}
.hero::after {
	display: block;
	content: "";
	width: 100vw;
	height: 4px;
	background: linear-gradient(to right, #4AC8EF, #8B54A2);
}
.footer {
	background-color: #212121;
	color: white;
	padding-bottom: 3rem;
}

.is-danger > .message-body:empty, .is-success > .message-body:empty {
	display: none;
}

li {
	overflow-wrap: break-word;
}

a.button {
	border: 1px solid #151515;
	width: 100%;
	display: block;
	margin: 0 auto;
}
a > i {
	margin-right: 10px;
	transform: scale(1.25);
}
a.github {
	color: white;
	background-color: #444444;
}
a.github:hover {
	color: white;
}
a.google {
	color: white;
	background-color: #4285F4;
}
a.google:hover {
	color: white;
}
a.facebook {
	color: white;
	background-color: #3b5998;
}
a.facebook:hover {
	color: white;
}
a.gatech {
	color: black;
	background-color: #eeb211;
}
a.gatech:hover {
	color: black;
}

.carousel {
	display: flex;
	flex-flow: row;
	overflow: hidden;
	width: 300%;
	transition: transform 0.5s ease-in-out;
}
.carousel.step1 {
	transform: translateX(0);
}
.carousel.step2 {
	transform: translateX(-33.333%);
}
.carousel.step3 {
	transform: translateX(-66.666%);
}
.carousel > .columns {
	width: 100%;
}

@media screen and (max-width: 769px) {
	.carousel > .columns {
		margin-left: 5px;
		margin-right: 5px;
	}
}

#hidden-password {
	transition: 0.5s opacity;
}
.hidden {
	opacity: 0;
	display: none;
}
.shown {
	opacity: 1;
	display: block;
}

#authorize {
	text-align: center;
    margin-top: 25px;
}
#authorize > span.icon {
	margin-bottom: 1.5rem;
}

.single-line-button {
	line-height: 2.25em; /* Same height as button */
	margin: 10px 0;
}
.single-line-button > button {
	margin-left: 15px;
}

.is-grouped.is-multiline {
	flex-wrap: wrap;
	margin-top: -12px;
}
.is-grouped.is-multiline > * {
	margin-top: 12px;
}
