{{#> main }}
    <section class="columns">
        <div class="column is-half is-offset-one-quarter center" id="authorize">
            <h1 class="title">{{errorTitle}}</h1>
            <h4 class="subtitle" style="margin-top: 15px">{{errorSubtitle}}</h4>
            {{#if errorMessage}}
                <h6 class="title is-6" style="margin-top: 20px">{{errorMessage}}</h6>
            {{/if}}
            {{#if button}}
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <a class="button is-medium" href="/">Return Home</a>
                    </p>
                </div>
            {{/if}}
    </section>
    {{/main}}
